.container,h1{
    text-align: center;
}
div{
    display: block;
}
.red{
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);;
}
.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}
.cap, .pen{
    display: inline-block;
}
.cap, .pen{
    width: 60px;
    height: 25px;
}
.pen {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
}
.green{
    background: linear-gradient(rgb(63, 116, 7), rgb(70, 242, 139), rgb(44, 193, 17));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);;
}
.blue{
    background: linear-gradient(rgb(12, 41, 122), rgb(62, 157, 245), rgb(29, 8, 161));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);;
}